<%- contentFor( 'body' ) %>

<div class="table-responsive-xl">
    <h2>Lista de Usuários Cadastrados</h2>            
    <table class="table table-hover bg-dark" id="list">
        <thead class="thead-dark">
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Endereço</th>
                <th>Idade</th>
                <th>Altura</th>
                <th>Vota?</th>
                <th>Editar</th>
                <th>Remover</th>
            </tr>
        </thead>
        <tbody>

            <% let linkRemove="/cadastro/remove/"; %>
            <% let linkUpdate="/cadastro/update/"; %>

            <% if(users.length >0){%>
                <% for(let index=0;index<users.length;index++){ %>
                        <tr data-index-row="<%= index %>">
                            
                        <td data-index-row="<%=index%>" class="text-white">
                            <span  class="show"><%= users[index].name %></span>
                            <input type="text" name="name"  class="hidden" value="<%= users[index].name %>">
                        </td>
                        <td data-index-row="<%=index%>" class="text-white">
                            <span  class="show"><%= users[index].email %></span>
                            <input type="text" name="email"  class="hidden" value="<%= users[index].email %>">
                        </td>
                        <td data-index-row="<%=index%>" class="text-white">
                            <span  class="show"><%= users[index].address %></span>
                            <input type="text" name="address"  class="hidden" value="<%= users[index].address %>">
                        </td>
                        <td data-index-row="<%=index%>" class="text-white">
                            <span  class="show"><%= users[index].age %></span>
                            <input type="number" step="0.1" name="age"  class="hidden" value="<%= users[index].age %>">
                            
                        </td>
                        <td data-index-row="<%=index%>" class="text-white">
                            <span  class="show"><%= users[index].height %></span>
                            <input type="number" name="height"  class="hidden" value="<%= users[index].height %>">
                            
                        </td>
                        <td data-index-row="<%=index%>" class="text-white">
                            <span  class="show"><%= users[index].vote %></span>
                            <input type="text" name="vote" class="hidden" placeholder="Digite True ou False." value="<%= users[index].vote %>">
                            
                        </td>
                        <td data-index-row="<%=index%>" class="hidden" data-index-row="<%=index%>">
                            <input type="button" value="Atualizar" class="hidden" >
                        </td>
                
                        <td  data-index-row="<%= index %>">
                            <a href="#" onclick="update('<%=index%>','<%= linkUpdate %>')" class="show"><i class="fas fa-pen"></i></a>  
                        </td> 
                        
                        <td  data-index-row="<%= index %>">
                            <a href="#" class="show" onclick="remove('<%=index %>','<%=users[index].name %>','<%=linkRemove%>')"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                <% } //for %>
            <% }else{%>
                <tr><td colspan="7"><p class="bg-info text-white">Nenhum dado cadastrado</p></td></tr>
                <%} //If-Else %>   
        </tbody>
    </table>
        
        <h2 class="table table-hover bg-dark font-weight-bold text-center text-white">
            Cadastrar novo usuário
        </h2>
        <p class="font-weight-bold">Coloque as informações do usuário aqui, envie, e na lista acima clique na caneta para definitivamente preencher as informações, salvando o cadastro</p>
            <div class="form-group font-weight-bold">
                <label for="_name">Nome:</label>
                <input type="text" name="_name" data-ind="cadinp" id="_name" class="form-control">
            </div>
            <div class="form-group font-weight-bold">
                <label for="_email">E-mail:</label>
                <input type="email" name="_email" data-ind="cadinp" id="_email" placeholder="exemplo@hotmail.com" class="form-control">
            </div>
            <div class="form-group font-weight-bold">
                <label for="_address">Endereço:</label>
                <input type="text" name="_address" data-ind="cadinp" id="_address" class="form-control">
            </div>
            <div class="form-group font-weight-bold">
                <label for="_age">Idade:</label>
                <input type="number" name="_age" data-ind="cadinp" id="_age" class="form-control">
            </div>
            <div class="form-group font-weight-bold">
                <label for="_heigth">Altura:</label>
                <input type="number" step="0.01" name="_heigth" data-ind="cadinp" id="_heigth" placeholder="Ex: 1.78" class="form-control">
            </div>
            <div class="form-group font-weight-bold">
                <label for="_vote">Votou?</label>
                <input type="text" name="_vote" data-ind="cadinp" id="_vote" placeholder="Digite True se sim, e False se não." class="form-control">
            </div>
            <div class="form-group font-weight-bold">
                <input type="submit" value="Enviar" class="btn btn-danger" onclick="add('/cadastro/add/')">
            </div> 

            <div style="text-align: center;">
                <h2 class="table table-hover bg-dark font-weight-bold text-center text-white">Lista completa de usuários</h2>
                <div>
                    <input type="button" value="Carregar Lista" onclick="lista('/cadastro/list')" class="show" id="btnlis">
                </div>
            </div>
        
            <div class="table-responsive-xl ">     
                <table class="table table-hover bg-light" id="lista">
                    <thead class="thead-dark">
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Endereço</th>
                        <th>Idade</th>
                        <th>Altura</th>
                        <th>Vota?</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div> 